<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2083370240-dcuaqjmucucakthf6cpr2jqnpbv4m86m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2083370240-dcuaqjmucucakthf6cpr2jqnpbv4m86m</string>
	<key>API_KEY</key>
	<string>AIzaSyBdDe-rsm3jy_mO5kd7mn67OEqoZHsyLO4</string>
	<key>GCM_SENDER_ID</key>
	<string>2083370240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.cocoa.English</string>
	<key>PROJECT_ID</key>
	<string>english-dd489</string>
	<key>STORAGE_BUCKET</key>
	<string>english-dd489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2083370240:ios:b389d0ed01988263886fe5</string>
</dict>
</plist>